@font-face {
  font-family: "Cerebri Sans";
  font-weight: 400;
  src: url("../../fonts/cerebrisans-regular.woff") format("woff"),
  url("../../fonts/CerebriSans-Regular.ttf") format("ttf"),
  url("../../fonts/cerebrisans-regular.eot") format("eot"),
  url("../../fonts/cerebrisans-regular.svg") format("svg");
}

@font-face {
  font-family: "Cerebri Sans";
  font-weight: 600;
  src: url("../../fonts/cerebrisans-medium.woff") format("woff"),
  url("../../fonts/cerebrisans-medium.ttf") format("ttf"),
  url("../../fonts/cerebrisans-medium.eot") format("eot"),
  url("../../fonts/cerebrisans-medium.svg") format("svg");
}
@font-face {
  font-family: "Cerebri Sans";
  font-weight: 900;
  src: url("../../fonts/cerebrisans-ExtraBold.woff") format("woff"),
  url("../../fonts/cerebrisans-ExtraBold.ttf") format("ttf"),
  url("../../fonts/cerebrisans-ExtraBold.eot") format("eot"),
  url("../../fonts/cerebrisans-ExtraBold.svg") format("svg");
}
