@import '~bootstrap/scss/mixins';

@import "~bootstrap/scss/mixins/_breakpoints";
@mixin shadowBottom() {
    box-shadow: 0 0 12px -4px $shadow-color;
}
@mixin shadowSm(){
    box-shadow: 0 .125rem .25rem $shadow-color;
}
@mixin shadow(){
    box-shadow: 0 0 2rem 0.5rem $shadow-color;
}
@mixin shadow-dark(){
    box-shadow: 0 0 2rem 0.5rem $shadow-color-dark;
}
@mixin shadowLg(){
    box-shadow: 0 1rem 3rem $shadow-color;
}
